＃開発時は必ず、/Users/liteattract/Downloads/project 2/IRUTOMO-development-guidelines.mdの参照してルールに基づいた開発を行い開発内容を追記してください。
＃開発時は必ず、/Users/liteattract/Downloads/project 2/IRUTOMO-specifications.mdを参照してルールに基づいた開発を行い開発内容を追記してください。



